@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    margin: 0;
    padding: 0;
}

.topbar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
}

.topbar .btn-light {
    color: #28a745;
}

.nav, .navbar {
    padding: 0px 100px 0px 100px;
}

.nav.justify-content-end .nav-item a {
    color: #28a745;
}
.navbar .navbar-brand{
    color: #28a745;
    font-weight: 800;
    font-size: xx-large;
}

nav .navbar-nav li a{
    font-weight: 600;
}

nav .navbar-nav li a:hover{
    color: #28a745 !important;
}

.active a{
    color: #28a745 !important;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #28a745;
}

.carousel-caption{
    color: #28a745;
    font-weight: 500;
}

.btn-outline-light {
    font-weight: 900;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.btn-outline-light {
    border-color: #28a745;
    color: #28a745;
}

.btn-outline-light:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff;
}

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.custom-social{
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-social a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}


.custom-social .fa:hover {
    opacity: 0.7;
}

.custom-social .fa-facebook {
  background: #3B5998;
  color: white;
}

.custom-social .fa-twitter {
  background: #55ACEE;
  color: white;
}

.custom-social .fa-google {
  background: #dd4b39;
  color: white;
}

.custom-social .fa-linkedin {
  background: #007bb5;
  color: white;
}

.custom-social .fa-youtube {
  background: #bb0000;
  color: white;
}

.custom-social .fa-instagram {
  background: #125688;
  color: white;
}

.tagline {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    text-align: center;
}

.tagline .title {
    color: darkgreen;
}

.tagline .subtitle {
    color: greenyellow;
}

.container .card {
    border: none;
    border-radius: none;
}

.color-title {
    color: darkgreen;
}

.custom-style-1 {
    background-color: #28a745;
    color: white;
}

section {
    padding: 60px 0;
}

#id .container {
    margin: 0;
}

section .section-title {
    text-align: center;
    color: #28a745;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #28a745 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a, #footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}